body {
  font: 14px Helvetica Neue;
  text-rendering: optimizeLegibility;
  margin-top: 1em;
  overflow-y: scroll;
  font-weight: 300;
}
h1 {
  font-size: 36px;
  margin-bottom: .3em;
  font-weight: 300;

}
.link { 
	stroke: #ccc; 
	  font-weight: 300;

	font-size: 11px; 
	font-family: sans-serif; 
}
.nodetext { 
	pointer-events: none; 
	font-size: 11px; 
	font-family: sans-serif; 
}
.main{
	border: 1px; 
	border-color: black
}
.details{
  font-size: 16px;
}
.literal{
  font-size: 11px;
}
text.link{
  stroke: black;
  pointer-events: none; 
  font-size: 11px; 
  font-family: sans-serif; 
}
arrowhead {
  stroke: #999;
  fill: #999;
  stroke-width: 1;
}

